<ul class="list-unstyled">
<li>Email me at <a href="mailto:{{site.email}}">{{site.email}}</a></li>
<li>Follow me at twitter <a href="https://twitter.com/tsxxt">@tsxxst</a></li>
<li>Discover my projects at <a href="https://github.com/tsx">GitHub</a></li>
<li>Connect with me at <a href="http://linkedin.com/in/tverskoy">LinkedIn</a></li>
</ul>
<hr />
<p><i><a href="https://twitter.com/intent/tweet?screen_name=tsxxst">Tweet me</a> to get a FREE advice on improving YOUR business and make MORE money with software!</i></p>

<p>Also feel free to ask me <b>any</b> technical questions <a href="https://twitter.com/intent/tweet?screen_name=tsxxst">on twitter</a> and I'll be glad to help.</p>

<p>I'm not open for new positions at the moment but feel free to <a href="mailto:{{site.email}}">reach out at {{site.email}}</a> if you have any questions.</p>

<!--
<p>Shoot me an email to <a href="mailto:{{site.email}}">{{site.email}}</a> if you want to hire me as a consultant or FTE.</p>
-->

<hr />
<p>I had a chance to work and build friendship with many great people, among them: <a href="http://redcraft.net">Maxim Gurkin</a>, Vladislav Aituganov, Aleksey Kuznetsov, Igor Kim, Aleksey Kasyanov and many others.</p>
<p>Contact me if you'd like me to make introductions.</p>

